doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Blackjack
    link(rel='stylesheet', href='lib/build.css')
    link(rel='stylesheet', href='css/main.css')
    link(href='http://fonts.googleapis.com/css?family=Copse|Damion' rel='stylesheet' type='text/css')
  body
    .container
      .spacer
      .header-container
        img(src="/images/spade.png")
        h1 Blackjack
        img(src="/images/diamond.png")
      .msg-container
        .msg-area.
      .game-table
        .dealer-wrapper
          .dealer-msg
          .dealer-hand
        .dealer-text
          h2 Dealer's hand
        .player-text
          h2 Player's hand
        .player-wrapper
          .player-msg
          .player-hand
          .player-controls


    script(src='lib/build.js')
    script(src='js/main.js')
