doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Blackjack
    link(rel='stylesheet', href='lib/build.css')
    link(rel='stylesheet', href='css/main.css')
  body
    .container
      h1 Blackjack
      h2 this is blackjack
      h3 ok



    script(src='lib/build.js')
    script(src='js/main.js')
